<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Headline page</title>
  </head>
  <body>
    <h1>Team AWEASOME</h1>
      <p>By tonight I'll have a fully-functioning website!</p>
    <p>WOOOOO</p>
  </body>
</html>  
=======
  <title>Team DREAMY</title>
  </head>
  <body>
    <h1>Prototype Website</h1>
      <p>By tonight I'll have a fully-functioning website!</p>
  </body>
</html>
>>>>>>> 2dafbf5c3f4c30b2f44be38f1e2710bc1c3ac97c
