<!DOCTYPE html>
<html>
<head>
  <title>Headline page</title>
  </head>
  <body>
    <h1>Team AWEASOME</h1>
      <p>By tonight I'll have a fully-functioning website!</p>
    <p>WOOOOO</p>
  </body>
</html>  